/*#region CSS Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
/*#endregion*/

/* * {
    border: 2px solid red;
} */

html {
    max-height: 100%;
    min-height: 100%;
}

/*#region Overall Page*/

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/*#endregion*/

/*#region Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.logo {
    padding: 0.5rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.option {
    padding: 0.3rem;
}

.option-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 520;
}

.option-text:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.logo-logo,
.option-logo,
.search-icon,
.notification-icon,
.project-icon,
.trending-pic {
    width: 2rem;
}

.sidebar {
    background-color: #22c55e;
}

.logo {
    display: flex;
}

.option {
    display: flex;
    gap: 10px;
}

/*#endregion*/

/*#region Right Side*/
/*This contains the navbar, projects, announcements and trending*/
.right-side {
    background-color: blueviolet;
    max-height: 100vh;
    height: 100%;
    overflow:scroll;
}

/*#endregion*/

/*#region navbar*/

.navbar {
    display: grid;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.navbar-line-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.navbar-line-1-right>img {
    width: 2rem;
}

.navbar-line-1-name {
    font-weight: bold;
}

.navbar-line-1-left,
.navbar-line-1-right {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.navbar-line-2 {
    display: flex;
    justify-content: space-between;
}

.nav-line-2-left {
    display: flex;
}

.nav-profile-pic {
    width: 3rem;
}

.name-username {
    font-weight: bold;
}

/*#endregion*/

/*#region Projects*/

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
    max-height: 100%;
    gap: 2rem;
    background-color: #a7f3d0;

}

.main-heading {
    font-weight: bold;
    padding: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: 100%;
    gap: 2rem;
}

.project {
    text-overflow: ellipsis;
    padding: 1rem;
    background-color: #ecfdf5;
    border-left: 0.3rem solid red;
}

.project:hover {
    border-left-color: yellowgreen;
}

.project-heading {
    font-weight: bold;
}

.icon-array {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}

.project-icon {
    cursor: pointer;
}

/*#endregion*/

/*#region Announcements*/

.announcements {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.announcement {
    background-color: #ecfdf5;
    padding: 0.5rem;
    border-radius: 3%;
}

.announcement-heading {
    font-weight: bold;
}

/*#endregion*/

/*#region Trending*/

.trending-item {
}

/*#endregion*/
