/*#region CSS Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
/*#endregion*/

/*#region Overall Page*/

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/*#endregion*/

/*#region Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.logo {
    padding: 0.5rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.option {
    padding: 0.3rem;
}

.option-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 520;
}

.option-text:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.logo-logo,
.option-logo,
.search-icon,
.notification-icon,
.project-icon,
.trending-pic {
    width: 2rem;
}

.sidebar {
    background-color: #22c55e;
}

.logo {
    display: flex;
}

.option {
    display: flex;
    gap: 10px;
}

/*#endregion*/

/*#region Right Side*/
/*This contains the navbar, projects, announcements and trending*/
.right-side {
    /* background-color: blueviolet; */
    max-height: 100vh;
}

/*#endregion*/

/*#region navbar*/

.navbar {
    display: grid;
    /* grid-template-rows: 1fr 3fr; */
}

.navbar-line-1 {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.navbar-line-1-left,
.navbar-line-1-right {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.navbar-line-2 {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
}

.nav-line-2-left {
    display: flex;
}

.nav-profile-pic {
    width: 3rem;
}

/*#endregion*/

/*#region Projects*/

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project {
    border: 2px solid blue;
}

/*#endregion*/

/*#region Announcements*/

.announcement {
    border: 2px solid green;
}

/*#endregion*/

/*#region Trending*/

.trending-item {
    border: 2px solid red;
}

/*#endregion*/
